# Generates an artifact containing the result of the `yarn test` command.

name: Generate Personas results

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - '!master'
jobs:
  compile:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn compile
      - run: yarn test
  log:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log(context)
  comment:
    runs-on: ubuntu-22.04
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn add @octokit/action
      - run: node .github/actions/postComment.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
